body{
background-color: white;
color: white;
text-decoration: black;

}

.border{
    float: right;
    text-align: center;
    background-color: white;
    color: black;

}

.size{
    border-spacing: 50px 50px;
    border-width: 10px;
    border-color: black;
}
.bell{
    text-align: right;
}
.it{
    background-color: red;
}
.container{
    border: solid black 5px;    
}
#bell{
    margin-right: 5%;
    color: #000;
}
.pot{
    border-color: black;
    border-style: solid;
    background-color: red;
}

.box-1{
    background-color: red;
    text-align:center;
    border:solid 3px black;
    letter-spacing:0.2em;
    color:white;
    }
    
    a{
        color:white;
    }
    
    .box-2{
    background-color: red;
    text-align:left;
    border:solid 4px black;
    letter-spacing:0.5em;
    color:white;
    }
    .box-1 a{
        display:inline;
        color:white;
    }
    hr{
    color:grey;
    }
    h6{
        letter-spacing:0.1 em;
    }
    .box-3{
        text-align:left;
        border:solid 1px black;
        color: white;
        background-color: red;
    border-top: 6px;
    }
    .maskot{
         width:5px;
         height:8px;
    
     }
    img {
        float:right;
        border-radius:45%;
        border:3px black solid;
    }